---
title: "Untitled GameBoy Game"
author: "Jakob Kjær-Kammersgaard"
externalProjectUrl: https://github.com/miscellus/gameboy-game
---

<header>
    <h1>{{title}}</h1>
</header>

<main>

    <p><a href="https://github.com/miscellus/gameboy-game" target="_blank">github.com/miscellus/gameboy-game</a>.</p>

    <video class="project_video" controls="" width="400"><source src="/files/projects/game-boy-game.mp4#t=0.001" type="video/mp4"></video>
    
    <p>My yet-to-be-titled platform game for the original Nintendo Game Boy, written in the Z80-esque assembly language native to the Game Boy CPU. A nostalgic project that has compounded my admiration for the creators of the games I used to play from the back seat of my parents' Škoda, the faint reflective LCD only sporadically illuminated by the street lights gliding by outside. I love that the limited instruction set of the Sharp LR35902 makes every little paragraph of assembly code a small puzzle to solve.</p>
</main>
