---
title: "Juelsminde Joust"
extUrl: https://github.com/miscellus/juelsminde-joust

brief: |
    This is a simple local multiplayer game where players shoot projectiles by bumping into walls and other players. I created the game over a few days in a summer house in Juelsminde.

dispElem: >
    <video class="project_video" controls="" width="400"><source src="/files/projects/juelsminde_joust_3_player_gameplay.mp4#t=0.001" type="video/mp4"></video>

---

<header>
    <h1>{{title}}</h1>
</header>
<main>
    <p><a href="{{extUrl}}" target="_blank">{{extUrl}}</a>.</p>

    {{dispElem | safe}}

    <p>{{brief}}</p>

    <p>Here I'm playing with <a href="https://guld-berg.dk">Jørn</a> and <a href="https://zelaven.com">Patrick</a> at the office, and getting my butt kicked. Had it at least been me filming, I would have had an excuse, but it was Jørn holding the camera while playing.</p>

</main>
