---
title: "Muto Locus"
extUrl: "https://spriggyhasgames.itch.io/muto-locus"

brief: |
    A small, needlessly bloody, platform game made for the 37th Ludum Dare game jam in collaboration with Signe Grau.

dispElem: >
    <img src="/files/projects/muto-locus-cover.png" alt="Screenshot of Muto Locus">

---

<header>
    <h1>{{title}}</h1>
</header>
<main>
    <p><a href="{{extUrl}}" target="_blank">{{extUrl}}</a>.</p>

    {{dispElem | safe}}

    <p>{{brief}}</p>

    <p>The jam theme was, One Room, which inspired us to have one level morph into the next as you progress through the game.</p>

    <p>Try it out on <a href="{{extUrl}}" target="_blank">itch.io</a>.</p>

    <p>Use the arrow keys to move and space to jump.</p>
</main>
