---
title: Jakob Kjær-Kammersgaard
layout: base.njk
---

<header>
    <h1>{{title}}</h1>
</header>
<main>
<p>That's my name up there <strong>↑</strong>, and this is what I look like:</p>
<figure id="image_face">
    <img alt="Jakob Kjær-Kammersgaard" src="img/jkk_front_square.jpg">
</figure>

<p>I have a Master's degree in Computer Science from <a href="//www.sdu.dk/en">University of Southern Denmark</a> in Odense.
<br>Things I enjoy: programming, dabbling in electronics, sharing knowledge, being in good company, and working on solving non-trivial problems (<a href="-_-">occasionally trivial non-problems</a>).</p>

<p>Together with two friends, <a href="https://www.guld-berg.dk" target="_blank">Jørn Guldberg</a> and <a href="https://www.zelaven.com" target="_blank">Patrick Jakobsen</a>, I co-founded a company, <a href="https://www.quasios.com" target="_blank">QuasiOS ApS</a>. We were doing operating systems research and developing a brand new OS for the robotics and automation industry.</p>

<p>Unfortunately, our startup didn't make it. But luckily, I now get to work on solving non-trivial problems as a Software Developer on the Flight Routing Engine Team at <a href="https://foreflight.com/" target="_blank" alt="ForeFlight website">ForeFlight</a>.</p>

<section>
    <h2>Get in touch</h2>
    <p>Via e-mail: ja<span class="suckitspammers">hej spam</span>kob<span class="suckitspammers">hej spam</span>@mis<span class="suckitspammers">hej spam</span>cellus.co<span class="suckitspammers">hej spam</span>m<br>
    or on <a href="https://www.linkedin.com/in/jakob-kj%C3%A6r-kammersgaard-61357b167/">LinkedIn</a>.<br>
    Sometimes I put my work on <a href="https://github.com/miscellus" target="_blank">github.com/miscellus</a>, although not exclusively.</p>
</section>
</main>
