---
title: Projects
layout: base.njk
---

<header>
    <h1>{{title}}</h1>
</header>

<main>
<p>Here are a couple of projects I am working on when time permits:</p>

{% for proj in collections.project %}
    <section class="project-brief">
        <header>
            <h2><a href="{{proj.url}}">{{ proj.data.title }}</a></h2>
        </header>
        <div>
            <p><a href="{{proj.data.extUrl}}" target="_blank">{{proj.data.extUrl}}</a></p>
            {{proj.data.dispElem | safe}}
            <p>{{ proj.data.brief }}</p>
        </div>
    </section>
{% endfor %}

</main>
