---
title: Teaching
layout: base.njk
---

<main>
    <h1>Teaching</h1>

    <p>On the following pages you can find additional resources related to the courses I assist.</p>
    <ul>
        <li><a href="/teaching/computer-architecture-2020">DM548 – Computer Architecture (2020)</a></li>
        <li><a href="/teaching/concurrent-programming-2020">DM563 – Concurrent Programming (2020)</a></li>
        <li><a href="/teaching/computer-architecture-2019">DM548 – Computer Architecture (2019)</a></li>
    </ul>
</main>

<section>
    <h2>If you have questions</h2>
    <p>Send me an e-mail: <a href="mailto:jakkj16@student.sdu.dk">jakkj16@student.sdu.dk</a></p>
</section>
