<section>
	<h2>Get in touch</h2>
	<p>Via e-mail: ja<span class="suckitspammers">hej spam</span>kob<span class="suckitspammers">hej spam</span>@mis<span class="suckitspammers">hej spam</span>cellus.co<span class="suckitspammers">hej spam</span>m<br>
	or on <a href="https://www.linkedin.com/in/jakob-kj%C3%A6r-kammersgaard-61357b167/">LinkedIn</a>.<br>
	Sometimes I put my work on <a href="https://github.com/miscellus" target="_blank">github.com/miscellus</a>, although not exclusively.</p>
</section>
