---
layout: base.njk
title: DM563 – Solutions to Exercises
---

<header>
    <h1>{{title}}</h1>
</header>

<section class="note">
    <h2>Git Repository</h2>
    <p>You can always find the latest version of the solutions on <a href="https://github.com/miscellus/cp2020" target="_blank">https://github.com/miscellus/cp2020</a>.</p>
    <p>Remember to keep an eye on the Discord server. I will not post a link here, but you can find a link on Blackboard.</p>
</section>

<main>
    <p>Each week after exercise class, I will upload a zip archive of the solutions for that week; included will be the solutions we make together and my original solution.</p>
    <ul>
        <li><a href="/files/teaching/concurrent-programming-2020/week_8_solutions.zip">week_8_solutions.zip</a> – I added an explanation of lambda expressions to ExercisesFromSlides.java</li>
        <li><a href="/files/teaching/concurrent-programming-2020/week_9_solutions.zip">week_9_solutions.zip</a> – The tiny little bit of the last exercise we didn't have time for, I just finished before uploading the solutions.</li>
        <li><a href="/files/teaching/concurrent-programming-2020/week_10_solutions.zip">week_10_solutions.zip</a> – My solution to exercise 3 is based on material from last year.</li>
        <li><a href="/files/teaching/concurrent-programming-2020/week_11_solutions.zip">week_11_solutions.zip</a> – I have tried writing a bit more comments. You should really give it a go on your own this week; then look at my solutions. Remember that you can ask questions by writing me an e-mail.</li>
        <li><a href="/files/teaching/concurrent-programming-2020/week_12_solutions.zip">week_12_solutions.zip</a> – This week we worked together all sections: H7, H8, and H9. Thank you for your participation on chat.</li>
        <li><a href="/files/teaching/concurrent-programming-2020/week_13_solutions.zip">week_13_solutions.zip</a> – I removed the data directory since otherwise, this archive would have been several hundred megabytes. You can make your own files or download it from the Github repo.</li>
        <li><a href="/files/teaching/concurrent-programming-2020/week_14_solutions.zip">week_14_solutions.zip</a> – I wrote a hopefully helpful comment about <span class="code code-inline">seenNulla.compareAndSet</span>.</li>
        <li><a href="/files/teaching/concurrent-programming-2020/week_17_solutions.zip">week_17_solutions.zip</a> – I added the alternative implementation of exercise 16 using Map.Entry instead of a custom wrapper class.</li>
        <li><a href="/files/teaching/concurrent-programming-2020/kenny_week_18_solutions.zip">kennys_week_18_solutions.zip</a> – Here are Kenny's solutions for our last week of exercise classes. Thanks for showing up. (^:</li>
    </ul>
</main>

<section>
    <h2>Course resources</h2>
    <p>Fabrizio's website for the course:<br><a href="https://www.fabriziomontesi.com/teaching/cp-2020/" target="_blank">fabriziomontesi.com/teaching/cp-2020/</a></p>
    <p>The git repository for the course:<br><a href="https://github.com/fmontesi/cp2020" target="_blank">github.com/fmontesi/cp2020</a></p>
</section>

<section>
    <h2>External resources</h2>
    <p>Here is a good (but long) video about generics in Java:<br><a href="https://www.youtube.com/watch?v=9tHLV0u87G4" target="_blank">youtube.com/watch?v=9tHLV0u87G4</a></p>
    <p>This article attempts to explain streams and lambda expressions in a pedagogical way (ad-blocker might be advised):<br><a href="https://www.dummies.com/programming/java/using-streams-lambda-expressions-java/">www.dummies.com/programming/java/using-streams-lambda-expressions-java/</a></p>
    <p>A decent guide to Java's ExecutorService framework:<br><a href="https://www.baeldung.com/java-executor-service-tutorial" target="_blank">www.baeldung.com/java-executor-service-tutorial</a></p>
    <p>A video about ForkJoinPools in Java:<br><a href="https://www.youtube.com/watch?v=5wgZYyvIVJk" target="_blank">youtube.com/watch?v=5wgZYyvIVJk</a></p>
    <p>A video tutorial on stopping threads early in Java:<br><a href="https://www.youtube.com/watch?v=6HydEu75iQI" target="_blank">youtube.com/watch?v=6HydEu75iQI</a></p>
    <p>A video introduction to CompletableFuture in Java 8:<br><a href="https://www.youtube.com/watch?v=ImtZgX1nmr8" target="_blank">https://www.youtube.com/watch?v=ImtZgX1nmr8</a></p>
</section>

<section>
    <h2>If you have questions</h2>
    <p>Send me (Jakob) an e-mail: <a href="mailto:jakkj16@student.sdu.dk">jakkj16@student.sdu.dk</a></p>
</section>
